*{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.headshot{
    margin:0px 0px 0px 15px;
}

.display-4{
    margin:0px 0px 0px 15px;
}
.main-container{
    background-image: url(images/criss-cross.png);
    margin:0px;
    padding:0;
}

.lead{
    margin:15px;
}

.bio{
    margin:15px;

}

.front-btn{
    margin:0px 0px 0px 15px;
    
}

.box{
    border: 1px solid;
    margin:auto;
    height: 650px;
    width: 1000px;
    background-color:white;
}

#page-content {
  flex: 1 0 auto;
}

#sticky-footer {
  flex-shrink: 0;
}
